@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

:root {
  --bg-color: #115d6b;
  --font-serif: "Lora", serif;
  --font-sans: "Lato", sans-serif;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-family: var(--font-serif);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: var(--font-sans);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 48px;
  margin-bottom: 0.1em;
}
h2 {
  font-size: 32px;
}

ul,
ol {
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
ul,
ol,
p,
blockquote,
dl {
  margin-bottom: 1em;
}
a {
  color: rgba(255, 255, 255, 0.85);
}
a:hover,
a:focus {
  color: #fff;
}
img {
  max-width: 100%;
}
.divider {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  width: 40px;
  margin: 4em 0;
}
.lede {
  font-size: 18px;
}
.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 160px 1em;
}
dd {
  font-size: 15px;
  font-family: var(--font-sans);
  margin-bottom: 2em;
}
.drop-cap::first-letter {
  float: left;
  line-height: 1;
  font-size: 70px;
  padding: 0 0.15em 0 0;
  text-transform: uppercase;
}

summary {
  cursor: pointer;
}
summary:hover {
  background: rgba(255, 255, 255, 0.15);
}
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.6em 0.6em 0;
  margin-bottom: 10px;
}

summary {
  font-weight: bold;
  margin: -0.6em -0.6em 0;
  padding: 0.6em;
}

details[open] {
  padding: 0.6em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.6em;
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 78px;
  }
  h2 {
    font-size: 36px;
  }
  .lede {
    font-size: 22px;
  }
}
